### Pairplots in Python

### Gapminder Socioeconomic Data

   - We will be using GapMinder socioeconomic data that is available in the R package gapminder. The data has been saved to 
      
     a csv file which we will read into a dataframe. There are six columns in the data:
     

              1. Country
        
              2. Continent: useful for grouping data
        
              3. Year: data coveres 1952-2007
                        
              4. life_exp: the life expectancy at birth
                
              5. pop: population
                
              6. gdp_per_cap: the per capita (per person) GDP in international dollars

In [32]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

In [5]:
# matplotlib for plotting
import matplotlib.pyplot as plt
import matplotlib

# Set text size
matplotlib.rcParams['font.size'] = 18

# Seaborn for pairplots
import seaborn as sns

sns.set_context('talk', font_scale=1.2);

In [33]:
url = 'C:/Users/deepusuresh/Documents/Data Science/3. Pair Plot'

df = pd.read_csv('gapminder.csv')
df.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,0.03,0.5696534,26.8,75944000,25.60000038,,3.654121623,48.673,,0,,6.6843853,55.70000076,24.04
1,Albania,1914.996551,7.29,1.0247361,57.4,223747333.3,42.09999847,,44.98994696,76.918,,9,636.3413834,7.699329853,51.40000153,46.72
2,Algeria,2231.993335,0.69,2.306817,23.5,2932108667,31.70000076,0.1,12.50007331,73.131,0.420094525,2,590.5098143,4.848769665,50.5,65.22
3,Andorra,21943.3399,10.17,,,,,,81,,,,,5.362178802,,88.92
4,Angola,1381.004268,5.57,1.4613288,23.1,248358000,69.40000153,2,9.999953883,51.093,,-2,172.9992274,14.55467701,75.69999695,56.7

In [3]:
df.columns

Index(['country', 'incomeperperson', 'alcconsumption', 'armedforcesrate',
       'breastcancerper100th', 'co2emissions', 'femaleemployrate', 'hivrate',
       'internetuserate', 'lifeexpectancy', 'oilperperson', 'polityscore',
       'relectricperperson', 'suicideper100th', 'employrate', 'urbanrate'],
      dtype='object')

In [4]:
df.shape

(213, 16)

In [34]:
df.isnull().head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

country                 0
incomeperperson         0
alcconsumption          0
armedforcesrate         0
breastcancerper100th    0
co2emissions            0
femaleemployrate        0
hivrate                 0
internetuserate         0
lifeexpectancy          0
oilperperson            0
polityscore             0
relectricperperson      0
suicideper100th         0
employrate              0
urbanrate               0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 16 columns):
country                 213 non-null object
incomeperperson         213 non-null object
alcconsumption          213 non-null object
armedforcesrate         213 non-null object
breastcancerper100th    213 non-null object
co2emissions            213 non-null object
femaleemployrate        213 non-null object
hivrate                 213 non-null object
internetuserate         213 non-null object
lifeexpectancy          213 non-null object
oilperperson            213 non-null object
polityscore             213 non-null object
relectricperperson      213 non-null object
suicideper100th         213 non-null object
employrate              213 non-null object
urbanrate               213 non-null object
dtypes: object(16)
memory usage: 26.7+ KB

In [39]:
df.replace(r'\s+|^$', np.nan, regex=True)

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,NaN,0.03,0.5696534,26.8,75944000,25.60000038,NaN,3.654121623,48.673,NaN,0,NaN,6.6843853,55.70000076,24.04
1,Albania,1914.996551,7.29,1.0247361,57.4,223747333.3,42.09999847,NaN,44.98994696,76.918,NaN,9,636.3413834,7.699329853,51.40000153,46.72
2,Algeria,2231.993335,0.69,2.306817,23.5,2932108667,31.70000076,0.1,12.50007331,73.131,0.420094525,2,590.5098143,4.848769665,50.5,65.22
3,Andorra,21943.3399,10.17,NaN,NaN,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,5.362178802,NaN,88.92
4,Angola,1381.004268,5.57,1.4613288,23.1,248358000,69.40000153,2,9.999953883,51.093,NaN,-2,172.9992274,14.55467701,75.69999695,56.7
5,NaN,11894.46407,8.17,NaN,NaN,16225000,NaN,NaN,80.64545455,NaN,NaN,NaN,NaN,2.1618433,NaN,30.46
6,Argentina,10749.41924,9.35,0.560987,73.9,5872119000,45.90000153,0.5,36.00033495,75.901,0.635943801,8,768.4282997,7.765584,58.40000153,92
7,Armenia,1326.741757,13.66,2.6184384,51.6,51219666.67,34.20000076,0.1,44.00102458,74.241,NaN,5,603.7630576,3.741587877,40.09999847,63.86
8,Aruba,NaN,NaN,NaN,NaN,35871000,NaN,NaN,41.80088889,75.246,NaN,NaN,NaN,NaN,NaN,46.78
9,Australia,25249.98606,10.21,0.4862799,83.2,12970092667,54.59999847,0.1,75.8956538,81.907,1.913026109,10,2825.391095,8.470030125,61.5,88.74
10,Austria,26692.98411,12.4,0.8155798,70.5,4466084333,49.70000076,0.3,72.73157554,80.854,1.548790966,10,2068.123309,13.09437,57.09999847,67.16
11,Azerbaijan,2344.896916,13.34,1.9767462,31.5,511107666.7,56.20000076,0.1,46.67970157,70.739,0.35917261,-7,921.5621108,1.380964637,60.90000153,51.92
12,Bahamas,19630.54055,8.65,0.5452863,54.4,137555000,60.70000076,3.1,42.98458017,75.62,NaN,NaN,NaN,3.374415874,66.59999847,83.7
13,Bahrain,12505.21254,4.19,5.2311429,40.2,503994333.3,30.20000076,NaN,54.99280903,75.057,NaN,-7,7314.355637,4.414990425,60.40000153,88.52
14,Bangladesh,558.0628766,0.17,0.2878915,16.6,598774000,53.59999847,0.06,3.70000326,68.944,0.032281466,5,68.11522858,14.53835678,68.09999847,27.14
15,Barbados,9243.587053,6.42,0.6639555,62.5,36160666.67,60.29999924,1.4,70.02859927,76.835,NaN,NaN,NaN,3.108602524,66.90000153,39.84
16,Belarus,2737.670379,18.85,3.7119299,36,999874333.3,48.59999847,0.3,32.05214391,70.349,0.68782808,-7,614.9072872,26.8746903,53.40000153,73.46
17,Belgium,24496.04826,10.41,0.8156477,92,10897025333,41.70000076,0.2,73.73393447,80.009,NaN,8,1920.962215,15.95385,48.59999847,97.36
18,Belize,3545.652174,5.92,0.7583556,29.8,14058000,38.79999924,2.3,12.64573333,76.072,NaN,NaN,NaN,9.388795853,56.79999924,51.7
19,Benin,377.0396995,2.08,0.2233986,28.1,37950000,58.20000076,1.2,3.129961803,56.081,NaN,7,38.22294336,6.057739735,71.59999847,41.2
20,Bermuda,62682.14701,NaN,NaN,NaN,20331666.67,NaN,NaN,84.65451409,NaN,NaN,NaN,NaN,NaN,NaN,100
21,Bhutan,1324.194906,0.54,NaN,21.8,6024333.333,39.90000153,0.2,13.59887603,67.185,NaN,3,NaN,15.54260254,58.40000153,34.48
22,Bolivia,1232.794137,5.78,1.8821978,24.7,254939666.7,61.59999847,0.2,20.00171014,66.618,NaN,7,213.0616137,2.034178495,70.40000153,65.58
23,NaN,2183.344867,9.6,0.4628471,58.9,236419333.3,34.90000153,NaN,52.00206064,75.67,NaN,NaN,927.1194974,11.8367157,41.20000076,47.44
24,Botswana,4189.436587,6.97,1.1319097,33.4,78943333.33,38.70000076,24.8,5.999835575,53.183,NaN,8,454.7957053,11.21397018,46,59.58
25,Brazil,4699.411262,10.08,0.7213964,46,9580226333,53.29999924,0.45,40.650098,73.488,0.599651789,8,498.1653052,4.777007,64.5,85.58
26,Brunei,17092.46,1.86,4.683989,20.6,254206333.3,55.5,NaN,49.98997494,78.005,NaN,NaN,3067.498901,1.370001554,63.79999924,74.82
27,Bulgaria,2549.558474,11.4,2.0433877,46.2,3157700333,42.09999847,0.1,45.98658991,73.371,0.560423531,9,1380.869289,9.216544,47.29999924,71.1
28,NaN,276.200413,7.32,0.1629041,30.6,20628666.67,75.80000305,1.2,1.4000607,55.439,NaN,0,NaN,8.204221725,81.30000305,19.56
29,Burundi,115.3059959,9.65,1.1577498,19.5,8092333.333,83.30000305,3.3,2.100212706,50.411,NaN,6,NaN,14.68093586,83.19999695,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Swaziland,1810.230533,5.05,NaN,12.3,22704000,47.09999847,25.9,9.007735909,48.718,NaN,-9,NaN,12.87222195,50.90000153,24.94
184,Sweden,32292.48298,9.5,0.3520917,87.8,4286590000,56.70000076,0.1,90.01619002,81.439,1.545893802,10,4304.514402,11.11583,60.70000076,84.54
185,Switzerland,37662.75125,11.41,0.52422,81.7,2406741333,57,0.4,82.16665988,82.338,1.487412187,10,2361.033336,13.23981,64.30000305,73.48
186,Syria,1525.780116,1.49,5.9558471,44.8,1436893333,16.70000076,NaN,20.66315568,75.85,NaN,-7,815.0310909,0.523527563,44.79999924,54.22
187,Taiwan,NaN,NaN,NaN,NaN,5248815000,47.09999847,NaN,NaN,NaN,2.006514658,10,1831.731848,NaN,54.5,NaN
188,Tajikistan,279.1804526,3.39,0.6048733,13.2,104170000,50.09999847,0.2,11.54939051,67.529,NaN,-3,405.7753854,2.648980856,54.59999847,26.46
189,Tanzania,456.3857117,7.86,0.1347296,21.1,100782000,76.09999847,5.6,11.00005544,58.199,NaN,-1,38.63450298,12.41118145,78.19999695,25.52
190,Thailand,2712.517199,7.08,1.0936515,16.6,4200940333,65,1.3,21.20007177,74.126,0.726249675,4,439.5897318,9.847459793,72,33.32
191,Timor-Leste,369.5729537,0.74,0.2342862,NaN,850666.6667,54.70000076,NaN,0.210066326,62.475,NaN,7,NaN,9.633114815,67.30000305,27.3
192,Togo,285.2244493,1.92,0.3400308,28.1,32233666.67,48.40000153,3.2,5.379819715,57.062,NaN,-4,66.23852193,6.369887829,63.90000153,42
193,Tonga,2025.282665,3.92,NaN,NaN,2907666.667,NaN,NaN,12.00669231,72.317,NaN,NaN,NaN,4.527851582,NaN,24.78
194,NaN,10480.8172,6.16,0.581165,51.1,NaN,50.5,1.5,48.51681767,70.124,NaN,10,2261.316713,14.54716682,61.5,13.22
195,Tunisia,3164.927693,1.05,1.266624,19.6,525891666.7,21.39999962,0.06,36.56255296,74.515,NaN,-4,325.8395608,3.146814108,41.59999847,66.5
196,Turkey,5348.597192,3.02,2.3794147,22,5675629667,21.89999962,0.06,39.82017789,73.979,0.394489111,7,550.6966103,3.56332469,42.79999924,68.68
197,Turkmenistan,2062.125152,5,0.9314175,17.9,531303666.7,53.90000153,NaN,2.199997818,64.986,1.11067147,-9,351.1665941,12.21676922,58.5,48.62
198,Tuvalu,1714.94289,2.14,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,7.934811592,NaN,NaN
199,Uganda,377.4211133,16.4,0.3445177,18.3,49793333.33,80,6.5,12.50025543,54.116,NaN,-1,NaN,12.28912163,83.19999695,12.98
200,Ukraine,1036.830725,17.47,0.9311688,39.9,5584766000,49.40000153,1.1,44.58535469,68.494,0.255234906,7,673.584861,18.95457,54.40000153,67.98
201,NaN,21087.39412,0.52,1.8124763,24.1,2315698000,37.29999924,NaN,77.99678115,76.546,4.299964455,-8,11154.75503,1.392950654,75.19999695,77.88
202,NaN,28033.48928,13.24,0.5080181,87.2,72524250333,53.09999847,0.2,84.73170475,80.17,1.188028094,10,1933.945615,6.014659,59.29999924,89.94
203,NaN,37491.17952,9.7,0.9723782,101.1,3.34E+11,56,0.6,74.247572,78.531,2.738543683,10,4542.848695,9.927033,62.29999924,81.7
204,Uruguay,9106.327234,8.99,1.5793413,83.1,275744333.3,46,0.5,47.86746863,77.005,NaN,10,823.8231975,14.53727,57.5,92.3
205,Uzbekistan,952.8272608,3.61,0.7096295,17.3,1718339333,52.59999847,0.1,19.44502055,68.287,0.182184525,-9,261.4339532,5.21372,57.5,36.82
206,Vanuatu,1543.956457,0.96,NaN,24,2977333.333,NaN,NaN,7.988366667,71.017,NaN,NaN,NaN,4.983421803,NaN,24.76
207,Venezuela,5528.363114,7.6,0.9040245,34.3,5418886000,45.79999924,NaN,35.85043696,74.402,1.214636773,-3,969.0043388,4.11962,59.90000153,93.32
208,Vietnam,722.8075588,3.91,1.0853671,16.2,1425435000,67.59999847,0.4,27.85182156,75.181,NaN,-7,302.7256547,11.65332222,71,27.84
209,NaN,NaN,NaN,5.9360854,NaN,14241333.33,11.30000019,NaN,36.42277179,72.832,NaN,NaN,NaN,NaN,32,71.9
210,NaN,610.3573673,0.2,2.3162346,35.1,234864666.7,20.29999924,NaN,12.34975046,65.493,NaN,-2,130.0578314,6.265789032,39,30.64
211,Zambia,432.226337,3.56,0.3413352,13,132025666.7,53.5,13.5,10.12498646,49.025,NaN,7,168.6230305,12.01903629,61,35.42
212,Zimbabwe,320.7718899,4.96,1.0327854,19,590219666.7,58.09999847,14.3,11.50041532,51.384,NaN,1,297.8832004,13.90526676,66.80000305,37.34

### filling blank cells

from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis = 0)

In [40]:
df.describe()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
count,213,213,213,213,213,213,213,213,213,213,213,213,213,213,213,213
unique,213,191,181,165,137,201,154,47,193,190,64,22,133,192,140,195
top,Poland,,,,,,,,,,,,,,,
freq,1,23,26,49,40,13,35,66,21,22,150,52,77,22,35,10

### Default Pair Plot with All Data

In [ ]:
sns.pairplot(df);

The default pairplot shows scatter plots between variables on the upper and lower triangle and histograms along the diagonal. Already, we can see some trends such as a positive correlation between gdp_per_cap and life_exp and year and life_exp which suggests that people in richer countries live longer and that in general, people have been living longer as time increases. We can't say what causes theses trends, only that there is a correlation.

We can also see that the distribution of pop and gdp_per_cap is heavily skewed to the right. To better represent the data, we can take the log transform of those columns.

In [ ]:
df['log_pop'] = np.log10(df['pop'])
df['log_gdp_per_cap'] = np.log10(df['gdp_per_cap'])

df = df.drop(columns = ['pop', 'gdp_per_cap'])

### Group and Color by a Variable

In order to better understand the data, we can color the pairplot using a categorical variable and the hue keyword. First, we will color the plots by the continent.

In [ ]:
matplotlib.rcParams['font.size'] = 40
sns.pairplot(df, hue = 'continent');

I don't find stacked histograms (on the diagonal) to be very useful, and there are some issues with overlapping data points (known as overplotting). We can fix these by adding in a few customizations to the pairplot call.

### Customizing pairplot

First, let's change the diagonal from a histogram to a kde which can better show the differences between continents. We can also adjust the alpha (intensity) of the scatter plots to better show all the data and change the size of the markers on the scatter plot. Finally, I increase the size of all the plots to better show the data.

In [ ]:
sns.pairplot(df, hue = 'continent', diag_kind = 'kde', plot_kws = {'alpha': 0.6, 's': 80, 'edgecolor': 'k'}, size = 4);

That makes some of the trends more clear. We can see that Oceania and Europe tend to have the highest life expectancy and highest GDP with Asian countries tending to have the greatest population. The density plots on the diagonal are better for when we have data in multiple categories to make comparisons. We can color the plot by any variable we like. For example, here is a plot colored by a decade categorical variable we create from the year column.

In [ ]:
df['decade'] = pd.cut(df['year'], bins = range(1950, 2010, 10))
df.head()

In [ ]:
sns.pairplot(df, hue = 'decade', diag_kind = 'kde', vars = ['life_exp', 'log_pop', 'log_gdp_per_cap'],
             plot_kws = {'alpha': 0.6, 's': 80, 'edgecolor': 'k'}, size = 4);

In this case, we can know see that life expectancy has increased over the decades as has population. Retaining the year variable might not make much sense when we are already coloring by the decade.

There is still quite a lot of noise on the scatter plots, mostly because we are plotting many years at once. Let's limit ourselves to the most recent year in the data. Notice how we must now use the vars keyword to specify the variables we want to plot. It does not make sense to plot the year variable since it no longer varies. We will limit the plot to the three remaining numerical variables.

In [ ]:
sns.pairplot(df[df['year'] >= 2000], vars = ['life_exp', 'log_pop', 'log_gdp_per_cap'], 
             hue = 'continent', diag_kind = 'kde', plot_kws = {'alpha': 0.6, 's': 80, 'edgecolor': 'k'}, size = 4);
plt.suptitle('Pair Plot of Socioeconomic Data for 2000-2007', size = 28);

### More Customization with sns.PairGrid

When the options offered by pairplot are not enough, we can move on to more powerful PairGrid. This allows us to define our own functions to map to the lower and upper triangles and the diagonal. For example, we might want a plot that instead of showing two instaces of the scatter plots, shows the Pearson Correlation coefficient (a measure of a linear trend) on one of the triangles. To do this, we can just write a function to calculate the statistic and then map it to the appropriate part of the plot.

First, we will show the basic usage of sns.PairGrid. Here, we map a scatter plot to the upper triangle, a density plot to the diagonal, and a 2D density plot to the lower triangle. PairGrid is a class and not a function, which means that we need to create an instance and then use methods of that instance to build a plot. Then, after we have added all the methods to the instance, we can show the resulting plot.

In [ ]:
# Create an instance of the PairGrid class.
grid = sns.PairGrid(data= df[df['year'] == 2007],
                    vars = ['life_exp', 'log_pop', 'log_gdp_per_cap'], size = 4)

# Map different plots to different sections
grid = grid.map_upper(plt.scatter, color = 'darkred')
grid = grid.map_lower(sns.kdeplot, cmap = 'Reds')
grid = grid.map_diag(plt.hist, bins = 10, color = 'darkred', edgecolor = 'k');

Now that we see how to map different functions to the different elements, we can write out own function to put on the plot. We'll use a simple function to show the correlation coffiecients on the scatterplot. (Thanks to this Stack Overflow answer for help on how to write a custom function and map it onto the plot).

In [ ]:
# Function to calculate correlation coefficient between two arrays
def corr(x, y, **kwargs):
    
    # Calculate the value
    coef = np.corrcoef(x, y)[0][1]
    # Make the label
    label = r'$\rho$ = ' + str(round(coef, 2))
    
    # Add the label to the plot
    ax = plt.gca()
    ax.annotate(label, xy = (0.2, 0.95), size = 20, xycoords = ax.transAxes)
    
# Create a pair grid instance
grid = sns.PairGrid(data= df[df['year'] == 2007],
                    vars = ['life_exp', 'log_pop', 'log_gdp_per_cap'], size = 4)

# Map the plots to the locations
grid = grid.map_upper(plt.scatter, color = 'darkred')
grid = grid.map_upper(corr)
grid = grid.map_lower(sns.kdeplot, cmap = 'Reds')
grid = grid.map_diag(plt.hist, bins = 10, edgecolor =  'k', color = 'darkred');

We can map any function we would like to any of the areas. For example, maybe we would like to show the summary stats on the diagonal.

In [ ]:
# Define a summary function
def summary(x, **kwargs):
    # Convert to a pandas series
    x = pd.Series(x)
    
    # Get stats for the series
    label = x.describe()[['mean', 'std', 'min', '50%', 'max']]
    
    # Convert from log to regular scale
    # Adjust the column names for presentation
    if label.name == 'log_pop':
        label = 10 ** label
        label.name = 'pop stats'
    elif label.name == 'log_gdp_per_cap':
        label = 10 ** label
        label.name = 'gdp_per_cap stats'
    else:
        label.name = 'life_exp stats'
       
    # Round the labels for presentation
    label = label.round()
    ax = plt.gca()
    ax.set_axis_off()

    # Add the labels to the plot
    ax.annotate(pd.DataFrame(label),
               xy = (0.1, 0.2), size = 20, xycoords = ax.transAxes)
    
# Create a pair grid instance
grid = sns.PairGrid(data= df[df['year'] == 2007],
                    vars = ['life_exp', 'log_pop', 'log_gdp_per_cap'], size = 4)

# Fill in the mappings
grid = grid.map_upper(plt.scatter, color = 'darkred')
grid = grid.map_upper(corr)
grid = grid.map_lower(sns.kdeplot, cmap = 'Reds')
grid = grid.map_diag(summary);

We can extend this however we like in order to investigate the data. For most use cases, the sns.pairplot function will do everything we require, but if we need the extra options, we can always use the more powerful sns.PairGrid. Pair plots are a great method to get a first look at a dataset, and seaborn has extensive capabilities for producing these figures!